<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CaptureTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <CaptureTool.Properties.Settings>
      <setting name="Key" serializeAs="String">
        <value>Q</value>
      </setting>
      <setting name="PreKey" serializeAs="String">
        <value>Ctrl+None</value>
      </setting>
      <setting name="Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="DigitsText" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EnableNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>Capture</value>
      </setting>
      <setting name="NumberCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveFormatIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnableTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayTime" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="PositionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScreenKey" serializeAs="String">
        <value>Q</value>
      </setting>
      <setting name="ScreenPreKey" serializeAs="String">
        <value>Alt+None</value>
      </setting>
      <setting name="EnableAero" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableAutoSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SelectKey" serializeAs="String">
        <value>S</value>
      </setting>
      <setting name="SelectPreKey" serializeAs="String">
        <value>Alt+None</value>
      </setting>
    </CaptureTool.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
